pandas
numpy
tensorflow
mlflow
matplotlib
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
notebook
dvc
fastapi
keras-tuner
scikit-learn
scikit-image
opencv-python
shap
-e .